<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>差旅小秘</title>
<link href="../App_Themes/Css/Common.css" rel="stylesheet" type="text/css" />
<link href="../App_Themes/Css/todo.css" rel="stylesheet" type="text/css" />
<script src="../Scripts/Jquery/jquery-1.7.2.min.js" language="javascript" type="text/javascript"></script>
<script src="../Scripts/Normal/normal.js" language="javascript" type="text/javascript"></script>
</head>

<body>

<!--头部-->
<div class="member-header-menu">
  <div class="member-header-menu-content">
    <div class="member-header-menu-left">上海猫友科技股份有限公司<em>|</em>企业ID：68568</div>
    <div class="member-header-menu-right"> <span><i></i>杨晓丹</span> <a href="../my/index.html">我的差旅</a> <a href="../index.html">退出</a> <span><i class="tel-icon"></i>客服专线：400-720-9969</span> </div>
  </div>
</div>

<!--导航-->
<div class="head-v3">
  <div class="navigation-up">
    <div class="navigation-inner">
      <div class="navigation-v3">
        <ul>
          <li class="logo-member"><a href="../Member/index.html"><img src="../App_Themes/Images/logo-member.png" /></a></li>
          <li class="" _t_nav="home">
            <h2> <a href="../Member/index.html">首页</a> </h2>
          </li>
          <li class="" _t_nav="yuding">
            <h2> <a href="../Flight/index.html">预订<i></i></a> </h2>
          </li>
          <li class="" _t_nav="fuli">
            <h2> <a href="#">企业福利<i></i></a> </h2>
          </li>
          <li class="last">
            <h2> <a href="../My/index.html">我的差旅</a> </h2>
          </li>
          <li class="nav-up-selected-inpage last">
            <h2> <a href="../Todo/index.html">审批记录</a> </h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navigation-down">
    <div id="yuding" class="nav-down-menu menu-1" style="display:none;" _t_nav="yuding">
      <div class="navigation-down-inner">
        <dl style="margin-left:108px;">
          <dd> <a href="../Flight/index.html">国内机票</a> </dd>
        </dl>
        <dl>
          <dd> <a href="../Flightinter/index.html">国际机票</a> </dd>
        </dl>
        <dl>
          <dd> <a href="../Hotel/index.html">酒店</a> </dd>
        </dl>
        <dl>
          <dd> <a href="../Train/index.html">火车票</a> </dd>
        </dl>
        <dl>
          <dd> <a href="../Car/index.html">租车</a> </dd>
        </dl>
      </div>
    </div>
    <div id="fuli" class="nav-down-menu menu-3 menu-1" style="display: none;" _t_nav="fuli">
      <div class="navigation-down-inner">
        <dl style="margin-left:325px;">
          <dd> <a href="#">体检</a> </dd>
        </dl>
        <dl>
          <dd> <a href="#">企业培训</a> </dd>
        </dl>
        <dl>
          <dd> <a href="#">礼品卡</a> </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<!--头部结束--> 

<!--内容-->
<div class="todo">
  <div class="todo-box">
    <div class="todo-sub-menu"><a href="#">首页</a> > <a href="#">审批记录</a> > <a href="#">我已审批</a> > 2017042800087</div>
    
    <!--单号信息-->
    <div class="todo-detail">
      <div class="todo-detail-menu">单号信息</div>
      <div class="todo-detail-info">
        <p><span>订单号：<strong>2017042800086</strong></span><span>事由：<strong>洽谈客户</strong></span><span>成本中心：上海公司</span><span class="todo-detail-state-blue"><i></i>已通过</span></p>
      </div>
    </div>
    
    <!--出行人员-->
    <div class="todo-detail">
      <div class="todo-detail-menu">出行人员</div>
      <div class="todo-detail-personnel"> <span>张三丰</span><span>王二小</span><span>李四</span><span>杨武</span> </div>
    </div>
    
    <!--国内机票-->
    <div class="todo-detail">
      <div class="todo-detail-menu">国内机票</div>
      <table width="1120" border="0" cellspacing="0" cellpadding="0" class="todo-detail-info-tab">
        <tr>
          <td width="39" height="30" align="right"><strong>出发：</strong></td>
          <td width="239"><strong>上海虹桥机场</strong></td>
          <td width="73" align="right"><strong>到达：</strong></td>
          <td width="205"><strong>广州白云机场</strong></td>
          <td width="98" align="right"><strong>日期：</strong></td>
          <td width="180"><strong>2017-05-05 07:30</strong></td>
          <td width="122" align="right"><strong>航班：</strong></td>
          <td width="164"><strong>MU5301</strong></td>
        </tr>
        <tr>
          <td height="30" align="right">舱位：</td>
          <td>经济舱</td>
          <td align="right"> 税费：</td>
          <td>￥50 X 3</td>
          <td align="right"> 单价：</td>
          <td>￥850.00 X 3</td>
          <td align="right">&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <div class="todo-detail-name">乘机人</div>
      <table width="1180" border="0" cellspacing="0" cellpadding="0" class="todo-detail-tab">
        <tr class="todo-detail-tab-tr">
          <td width="185" height="25">姓名</td>
          <td width="224">证件</td>
          <td width="251">证件号码</td>
          <td width="236">手机号</td>
          <td width="224">票号</td>
        </tr>
        <tr>
          <td>刘山</td>
          <td>身份证</td>
          <td>320382198911217051</td>
          <td>13814093408</td>
          <td><span ng-if="!tripPersons.ticketNum">暂无票号</span></td>
        </tr>
        <tr>
          <td>施赟</td>
          <td>身份证</td>
          <td>321084199311192825</td>
          <td>13916387629</td>
          <td><span ng-if="!tripPersons.ticketNum">暂无票号</span></td>
        </tr>
      </table>
      <div class="todo-detail-pirce">小计：￥2700.00</div>
      <div class="todo-detail-excess"><i></i>已违背差旅政策 违背原因：票价限制条件</div>
    </div>
    <div class="todo-detail-total">金额合计= 服务费￥45.00+ 总额￥2700.00 =<strong>￥2745.00</strong></div>
    
    <!--审批日志-->
    <div class="todo-detail">
      <div class="todo-detail-menu">审批日志</div>
      <table width="1180" border="0" cellspacing="0" cellpadding="0" class="todo-detail-tab">
        <tr class="todo-detail-tab-tr">
          <td width="196" height="25">顺序</td>
          <td width="196">审批人</td>
          <td width="196">审批结果</td>
          <td width="196">审批方式</td>
          <td width="196">审批时间</td>
          <td width="200">备注信息</td>
        </tr>
        <tr>
          <td height="1">1</td>
          <td>test4test4</td>
          <td>审批通过</td>
          <td>短信方式</td>
          <td>2017-04-28 14:10:04</td>
          <td>同意</td>
        </tr>
        <tr>
          <td height="1">2</td>
          <td>张三丰</td>
          <td>在线方式</td>
          <td>审批通过</td>
          <td>2017-04-28 14:10:04</td>
          <td>同意</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!--内容结束--> 

<!--底部-->
<div class="member-footer">
  <p><a href="../about.html#qiye" target="_blank">公司简介</a> <em>|</em> <a href="../about.html#licheng" target="_blank">发展历程</a> <em>|</em> <a href="../about.html#tuandui" target="_blank">我们的团队</a> <em>|</em> <a href="../about.html#lianxi" target="_blank">联系我们</a></p>
  <p>Copyright © 2005-2017 SEC91.COM 差旅小秘 版权所有 沪ICP备13006682号-1</p>
</div>
<!--底部结束--> 
<!--在线客服-->
<div id="top"></div>
<!--在线客服结束-->
</body>
</html>